<div class="banner">
	<div id="logo">
		<img src="{{ url_for('static', filename='pics/logo.gif') }}">
	</div>
	<div class="menu">
		<div id="home">
			<a href="/iroom/">HOME</a>
		</div>
		<div id="histo">
			<a href="/iroom/histo_check">HISTORICO</a>
		</div>
		<div id="premio">
			<a href="/iroom/info_premios">PREMIOS</a>
		</div>
		<div id="hora">
			<a href="/iroom/horarios">HORA SORTEOS</a>
		</div>
	</div>
	<div class="christmas">
		<img id="bells" src="{{ url_for('static', filename='pics/bells.png') }}">
	</div>
</div>
