{% include 'iroom/header.html' %}		

<div class="wrapper">
			
	{% include 'iroom/banner.html' %}
	<div id="wellcome"> 
	
		{% include 'iroom/submenu.html' %}

		<div class="title">
			Premios del Cuponazo (Viernes)
		</div>
		<div class="table_2">
			<table>
				<tr>
					<th>Descripcion del premio</th>
					<th>Importe</th>
				</tr>
				<tr>
					<th>Premios con serie de la paga</th>
					<th>Premios al numero principal</th>
				</tr>
				<tr>
					<td>A las cinco cifras y serie (1 premio)</td>
					<td>9.000.000</td>
				</tr>
				<tr>
					<td>A las cinco cifras (134 premios)</td>
					<td>30.000</td>
				</tr>
				<tr>
					<td>A las cuatro ultimas cifras (1.215 premios)</td>
					<td>500</td>
				</tr>
				<tr>
					<td>A las tres ultimas cifras (12.150 premios)</td>
					<td>50</td>
				</tr>
				<tr>
					<td>A las dos ultimas cifras (121.500 premios)</td>
					<td>6</td>
				</tr>
				<tr>
					<td>A la ultima cifra (1.215.000 premios)</td>
					<td>3</td>
				</tr>
				<tr>
					<th colspan="2">Premios con serie de la paga</th>
				</tr>
				<tr>
					<td>A las cinco cifras y serie (9 premios)</td>
					<td>100.000</td>
				</tr>
				<tr>
					<td>A las cinco cifras (1.206 premios)</td>
					<td>600</td>
				</tr>
			</table>
		</div>
	</div>
	
