{% include 'iroom/header.html' %}		

<div class="wrapper">
			
	{% include 'iroom/banner.html' %}
				
	<div id="wellcome"> 
		<div class="title">
			¿A que hora es el Sorteo de la ONCE?
		</div>
		<div class="table_3">
			<table>
				<tr>
					<th>Juego</th>
					<th>Horario</th>
				</tr>
				<tr>
					<td>Cupon Diario - La Paga</td>
					<td>21:25 horas de Lunes a Jueves</td>
				</tr>
				<tr>
					<td>Cuponazo</td>
					<td>21:25 horas Viernes</td>
				</tr>
				<tr>
					<td>Sueldazo</td>
					<td>21:25 horas Sabados y Domingos</td>
				</tr>
			</table>
		</div>
	</div>
	
