{% include 'iroom/header.html' %}		

<div class="wrapper">
			
	{% include 'iroom/banner.html' %}
	<div id="wellcome"> 
		
		{% include 'iroom/submenu.html' %}
		
		<div class="title">
			Premios del Cupon Diario (Lunes a Jueves)
		</div>
		<div class="table_1">
			<table>
				<tr>
					<th>Descripcion del premio</th>
					<th>Importe</th>
				</tr>
				<tr>
					<th colspan="2">Premios al numero principal</th>
				</tr>
				<tr>
					<td>A las cinco cifras (55.000 premios)</td>
					<td>35.000</td>
				</tr>
				<tr>
					<td>Al anterior numero al premiado (55 premios)</td>
					<td>500</td>
				</tr>
				<tr>
					<td>Al posterior numero al premiado (55 premios)</td>
					<td>500</td>
				</tr>
				<tr>
					<td>A las cuatro ultimas cifras (495 premios)</td>
					<td>200</td>
				</tr>
				<tr>
					<td>A las tres ultimas cifras (4.950 premios)</td>
					<td>20</td>
				</tr>
				<tr>
					<td>A las dos ultimas cifras (49.500 premios)</td>
					<td>6</td>
				</tr>
				<tr>
					<td>A la ultima cifra (495.000 premios)</td>
					<td>1.50</td>
				</tr>
				<tr>
					<td>A la primera cifra (494.890 premios</td>
					<td>1.50</td>
				</tr>
				<tr>
					<th colspan="2">Premios con serie de la paga</th>
				</tr>
				<tr>
					<td>A las cinco cifras y serie (35.000) mas</td>
					<td>3.000 mes 25 anos</td>
				</tr>
				<tr>
					<td>A la ultima cifra y serie (1.50) mas</td>
					<td>0.50</td>
				</tr>
				<tr>
					<td>A la primera cifra y serie (1.50) mas</td>
					<td>0.50</td>
				</tr>
			</table>
		</div>
	</div>
	
