{% include 'iroom/header.html' %}		

<div class="wrapper">
			
	{% include 'iroom/banner.html' %}
	<div id="wellcome"> 

		{% include 'iroom/submenu.html' %}

		<div class="title">
			Premios del Sueldazo (Sabados y Domingos)
		</div>
		<div class="table_3">
			<table>
				<tr>
					<th>Descripcion del premio</th>
					<th>Importe</th>
				</tr>
				<tr>
					<td>A las cinco cifras y serie (1 premio)</td>
					<td>300.000 mas 5.000 mes 20 anos</td>
				</tr>
				<tr>
					<td>A las cinco cifras y serie adicionales (4 premios)</td>
					<td>24.000 ano 10 anos</td>
				</tr>
				<tr>
					<td>A las cinco cifras (54 premios)</td>
					<td>20.000</td>
				</tr>
				<tr>
					<td>A las cinco cifras adicionales</td>
					<td>400</td>
				</tr>
				<tr>
					<td>A las cuatro ultimas cifras (495 premios)</td>
					<td>200</td>
				<tr>
					<td>A las tres ultimas cifras (4.950 premios)</td>
					<td>30</td>
				</tr>
				<tr>
					<td>A las dos ultimas cifras (49.500 premios)</td>
					<td>4</td>
				</tr>
				<tr>
					<td>A la ultima cifra (495.000 premios)</td>
					<td>2</td>
				</tr>
			</table>
		</div>
	</div>
	
